{
  "useTabs": false,
  "singleQuote": true,
  "trailingComma": "none",
  "semi": false,
  "printWidth": 80,
  "plugins": ["prettier-plugin-svelte"],
  "pluginSearchDirs": ["."],
  "svelteSortOrder": "scripts-markup-styles",
  "svelteStrictMode": false,
  "svelteIgnoreWarnings": true,
  "svelteAllowShorthand": true,
  "svelteNoQuotes": true,
  "svelteQuoteProps": "as-needed",
  "svelteIndentScriptAndStyle": false,
  "htmlWhitespaceSensitivity": "ignore",
  "arrayExpand": "auto",
  "arrowParens": "avoid",
  "rules": {
    "import/order": [
      "error",
      {
        "groups": ["external", "internal", "parent", "sibling", "index"],
        "newlines-between": "never"
      }
    ]
  }
}
