.skeleton.light {
  --background: #fbfdff;
  --text: #182d3e;
  --center-top: #c6e8f5;
  --center-bottom: #449ecf;
  --nav: #264863;
  --accent: #368f84;
  --menu: var(--background);
  --mobile-link-background: var(--nav);
  --logo-primary: var(--background);
  --logo-secondary: var(--center-top);
  --nav-underline: var(--background);
  --nav-underline-distance: 0;
  --nav-border-bottom-width: 0;
  --nav-border: var(--background);
  --nav-text: var(--background);
  --theme-background: var(--background);
  --theme-text: var(--text);
  --h1: #213c52;
}
.skeleton.dark {
  --background: #0c0910;
  --text: white;
  --center-top: #1a1b25;
  --center-bottom: #7f7979;
  --nav: #17121f;
  --accent: #c9d1fe;
  --menu: var(--text);
  --mobile-link-background: var(--nav);
  --logo-primary: var(--text);
  --logo-secondary: var(--accent);
  --nav-underline-distance: -0.13rem;
  --nav-underline: #fffceb;
  --nav-border-bottom-width: 2px;
  --nav-border: #423b4c;
  --nav-text: var(--text);
  --theme-background: var(--background);
  --theme-text: var(--text);
  --h1: var(--accent);
}

@media (prefers-color-scheme: light) {
  .skeleton {
    --background: #fbfdff;
    --text: #182d3e;
    --center-top: #c6e8f5;
    --center-bottom: #449ecf;
    --nav: #264863;
    --accent: #368f84;
    --menu: var(--background);
    --mobile-link-background: var(--nav);
    --logo-primary: var(--background);
    --logo-secondary: var(--center-top);
    --nav-underline: var(--background);
    --nav-underline-distance: 0;
    --nav-border-bottom-width: 0;
    --nav-border: var(--background);
    --nav-text: var(--background);
    --theme-background: var(--background);
    --theme-text: var(--text);
    --h1: #213c52;
  }
}

@media (prefers-color-scheme: dark) {
  .skeleton {
    --background: #0c0910;
    --text: white;
    --center-top: #1a1b25;
    --center-bottom: #7f7979;
    --nav: #17121f;
    --accent: #c9d1fe;
    --menu: var(--text);
    --mobile-link-background: var(--nav);
    --logo-primary: var(--text);
    --logo-secondary: var(--accent);
    --nav-underline-distance: -0.13rem;
    --nav-underline: #fffceb;
    --nav-border-bottom-width: 2px;
    --nav-border: #423b4c;
    --nav-text: var(--text);
    --theme-background: var(--background);
    --theme-text: var(--text);
    --h1: var(--accent);
  }
}
